/*------------------------------------*\
	#Cookie
\*------------------------------------*/

.cookie {
	background: rgba($charcoal, .9);
	color: #fff;
	font-size: 0.9rem;
	position: fixed;
	bottom: 0;
	width: 100%;
	display: none;
	z-index: 9999;
	.no-js & {
		display: none;
	}
	a {
		color: #fff;
		text-decoration: underline;

		&:hover, &:active, &:focus {
			text-decoration: none;
		}
	}
}

.cookie__close {
	color: #fff;
	font-size: (50/16)+rem;
	cursor: pointer;
	opacity: .8;
	transition: $anim-speed;
	margin-top: $global-spacing-unit/2;

	&:hover, &:active, &:focus {
		opacity: 1;
	}
	@include mq($from: desk) {
		font-size: (30/16)+rem;
		position: absolute;
		top: 50%;
		margin-top: -15px;
		right: $global-spacing-unit;
	}
}



