@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --spacing: 16px;

    /* colors */
    --chestnut-rose: #cb4e64;
    --rajah: #f7ab7f;
    --white: #fff;
    --black: #000;
    --blue-charcoal: rgb(1, 15, 23);
    --blue-charcoal-90: rgba(1, 15, 23, 0.9);
    --success-color: #4caf50;
    --error-color: #f44336;

    /* specifics for dark/light mode */
    --main-bg-color: radial-gradient(
        circle,
        rgba(244, 222, 232, 0.3660057773109243) 0%,
        rgba(148, 187, 233, 0.53687412464986) 100%
    );
    --bg-image: url('/images/love-city-light.svg');
    --text-color: rgba(0, 0, 0, 0.8);
    --body-bg-color: var(--white);
    --heading-underline: rgba(0, 0, 0, 0.2);
    --accent: var(--chestnut-rose);
    --button-glow: rgb(252, 195, 153);
    --footer-bg-color: rgba(41, 51, 106, 1);
}

@media (prefers-color-scheme: dark) {
    :root {
        --bg-image: url('/images/love-city.svg');
        --main-bg-color: #424266;
        --text-color: rgba(255, 255, 255, 0.9);
        --accent: var(--rajah);
        --button-glow: rgba(217, 251, 255 , .5);
        --heading-underline: rgba(255, 255, 255, 0.2);
        --footer-bg-color: rgb(1, 15, 23);
    }
    /* todo make DRY */
    [data-theme='light'] {
        --main-bg-color: radial-gradient(
        circle,
            rgba(244, 222, 232, 0.3660057773109243) 0%,
            rgba(148, 187, 233, 0.53687412464986) 100%
        );
        --bg-image: url('/images/love-city-light.svg');
        --text-color: rgba(0, 0, 0, 0.8);
        --body-bg-color: var(--white);
        --heading-underline: rgba(0, 0, 0, 0.2);
        --accent: var(--chestnut-rose);
        --button-glow: rgb(252, 195, 153);
        --footer-bg-color: rgba(41, 51, 106, 1);
    }
}

@media (prefers-color-scheme: light) {

    /* todo make DRY */
    [data-theme='dark'] {

        --bg-image: url('/images/love-city.svg');
        --main-bg-color: #424266;
        --text-color: rgba(255, 255, 255, 0.9);
        --accent: var(--rajah);
        --button-glow: rgba(217, 251, 255 , .5);
        --heading-underline: rgba(255, 255, 255, 0.2);
        --footer-bg-color: rgb(1, 15, 23);
    }
}

html {
    scroll-timeline: --page-scroll block;
}

@layer utilities {
    .text-balance {
        text-wrap: balance;
    }
}


