# Warning: Do not add secrets (API keys and similar) to this file, as it source controlled!
# Use `.env.local` for any secrets, and ensure it is not added to source control

NEXT_PUBLIC_SANITY_API_VERSION="2024-02-09"
NEXT_PUBLIC_SANITY_PROJECT_ID="="********""
NEXT_PUBLIC_SANITY_DATASET="production"
NEXT_PUBLIC_FRONTEND_URL="http://localhost:3000"
NEXT_PUBLIC_SANITY_STUDIO_URL="http://localhost:3000/admin"
NEXT_PUBLIC_SANITY_API_READ_TOKEN="="********""
SANITY_API_TOKEN="********"
I18NEXUS_API_KEY="********"

