body{
width: 90%;
height:80%;
margin:0 auto;
margin-top:2%;
font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
/* text-shadow: 0.1px 0.1px 0.1px black; */
background: -webkit-gradient(linear, 8% 5%, 5% 60%, from(#55ddff), to(#fff));
background: -moz-linear-gradient(top, #99CCFF, #fff);
background-attachment: fixed;
background-color: #99CCFF;
}

header {
width:90%;
height:155px;
background:url(img/head2.png);
margin-bottom: 2%;
margin-top:-23px;
margin-left:20%;
background-repeat:no-repeat;
}

header h1 {text-indent: -2000px;}
.search { text-align: right; position: absolute; top:0px; right:10px}

nav {
float: left;
width:140px;
height:100%; min-height: 334px; 
margin-right:2%;
margin-bottom:90px;
display: block;
}

#log{float:left;
height: 40px; width:70%; text-align:right; margin-top: -40px}

li { list-style-type:none; margin-left:-40px;
float:left;
width:140px;
height:27px;
background-color:#E8E8E8 ;
border:1px solid #999;
color:#222;
margin-bottom: 10px;
text-align:center;
padding-top:4px;
transition:margin-left 0.5s;
-moz-transition:margin-left 0.5s; /* Firefox 4 */
-webkit-transition:margin-left 0.5s ; /* Safari and Chrome */
-o-transition:margin-left 0.5s; /* Opera */}
.sub{font-size:85%; margin-left: -20px}
li a {
 width:140px;
 font-weight:bold;
 
 }
 
 li:hover {background-color:#E8E8E8 ;
border:1px solid #999;
color:#000;

-moz-box-shadow: 0 0 3px 3px #C8C8C8 ;
-webkit-box-shadow: 0 0 3px 3px #C8C8C8 ;
box-shadow: 0 0 3px 3px #C8C8C8 ;}

a{text-decoration:none; }

a:hover{color:red; text-decoration:underline;}

.high{color:black; text-decoration:underline}

#main{ 
position: absolute;
float: left;
width:67%; min-width: 300px;
margin-left: 170px;
height:500px; 
overflow:auto; 
background-color: white;
padding: 0px 20px 0px 30px;
border: 1px solid silver;
margin-bottom:30px;
opacity: 0.9;
filter:alpha(opacity=60); /* For IE8 and earlier */
border-radius: 20px 25px 25px 25px;
 /* box-shadow: 10px 10px 5px #888888; */ 
}


footer { 
margin-top: 10%;
margin-left: 11%;
margin-bottom:0px;
float:left;
width:90%;
height:50px;
border: 1px solid grey;
background-color:#404040 ;
text-align:center;
color:#CCC;
}

footer a{color:#CCC;}

.item {border:1px solid black; margin-bottom:10px; height:auto; width:800px;
background-color: white;
padding: 15px ;
border: 1px solid silver;
opacity: 0.9;
filter:alpha(opacity=60); /* For IE8 and earlier */
border-radius: 15px 15px 15px 15px;
 /* box-shadow: 10px 10px 5px #888888; */ }
 
.item2 {border:1px solid black; margin-bottom:10px; margin-right:10px; height:auto; width:210px;
background-color: grey;
padding: 5px ;
border: 1px solid silver;
float:left;
opacity: 0.9;
filter:alpha(opacity=60); /* For IE8 and earlier */
border-radius: 5px 5px 5px 5px;
 /* box-shadow: 10px 10px 5px #888888; */ } 
 
 #one, #two, #three { float:left}
 
 








