@use 'sass:math';
@use '../../styles/settings/' as *;
@use '../../styles/utils/' as *;

.text {
    line-height: math.div(26, 16);
    --spacing: 16px;
    @each $name, $map in $heading-sizes {
        h#{$name} {
            font-family: var(--heading-font);
            font-weight: $heading-font-weight;
            margin-bottom: var(--spacing);
            @include get-text-size($name);

            &:not(:first-child) {
                margin-top: var(--spacing);
            }
        }
    }
    @each $name, $map in $heading-sizes {
        .heading--#{$name} {
            font-family: var(--heading-font);
            font-weight: $heading-font-weight;
            margin-bottom: var(--spacing);

            @include get-text-size($name);
            &:not(:first-child) {
                margin-top: var(--spacing);
            }
        }
    }
    p:not([class]) {
        font-size: 1.1rem;
        &:not(:last-child) {
            margin-bottom: var(--spacing);
        }
    }
    ul:not([class]),
    ol:not([class]) {
        font-size: 1.1rem;
        list-style-position: outside;
        list-style-type: disc;
        margin-bottom: var(--spacing);
        margin-left: 1rem;
        li {
            margin-bottom: 5px;
            &::marker {
                color: var(--accent);
                font-size: 1.2rem;
            }
        }
    }
    ol:not([class]) {
        list-style-type: decimal;
    }

    a:not([class]) {
        -webkit-background-clip: text;
        -moz-background-clip: text;
        background-image: var(--sunset);
        background-position: 100% 0;
        background-repeat: repeat;
        background-size: 200%;
        font-weight: bold;
        position: relative;
        -webkit-text-fill-color: transparent;
        -moz-text-fill-color: transparent;
        transition: background-position 0.4s ease;
        [data-theme='dark'] & {
            background-image: linear-gradient(
                -90deg,
                rgb(242, 201, 172) 0%,
                rgb(249, 159, 122) 15%,
                rgb(244, 102, 99) 30%,
                rgb(224, 91, 115) 50%,
                rgb(252, 195, 153) 70%,
                rgb(249, 159, 122) 85%,
                rgb(244, 102, 99) 100%
            );
        }
        @include hover {
            background-position: 0 100%;
        }
    }
}
.highlight {
    color: var(--brand-color);
}

.customBlock {
    border: 1px solid var(--black);
    border-radius: 4px;
    padding: 5px;
}

.image {
    margin-inline: auto;
}

.profile {
    aspect-ratio: 1 / 1;
    box-sizing: border-box;
    margin-inline: auto;
    min-width: 250px;
    position: relative;
    shape-outside: circle(50%);
    width: 33%;

    &:before {
        background: rgba(255, 255, 255, 0.5);
        border-radius: 50% 0 50% 50%;
        content: '';
        height: calc(100% + 40px);
        position: absolute;
        right: -20px;
        top: -20px;
        width: calc(100% + 40px);
    }
    &:after {
        background: var(--neon);
        border-radius: 0 50% 0 0;
        content: '';
        filter: blur(30px);
        height: 100%;
        left: 0;
        opacity: 0.4;
        position: absolute;
        top: 0;
        width: 100%;
    }
    @include breakpoint(small, min) {
        float: right;
        margin: 30px 20px 30px 30px;
    }
    .image {
        border-radius: 50% 0 50% 50%;
        height: 100%;
        left: 0;
        object-fit: cover;
        position: absolute;
        top: 0;
        width: 100%;
        z-index: 1;
    }
    @include hover {
        .video {
            display: block;
        }
    }
}

.video {
    border-radius: 50% 0 50% 50%;
    display: none;
    height: 100%;
    left: 0;
    object-fit: cover;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 1;
}
