/*------------------------------------*\
	$BUTTONS
\*------------------------------------*/
.btn {
	display: inline-block;
	vertical-align: middle;
	margin: 0;
	padding: 1em 1.5em;
	border: none;
	background-color: $lime-green;
	white-space: nowrap;
	line-height: 1;
	cursor: pointer;
	text-decoration: none;
	color: $text-color;
	width: 100%;
	margin-bottom: $base-spacing-unit;
	@include vendor(transition, $animSpeed);
	&:hover, &:active, &:focus{
		background-color: darken($lime-green, 10%);
		text-decoration:none;
	}
	&:active, &:focus{
		outline:none;
		box-shadow: inset 0 0 4px rgba(0,0,0,.33);
		[data-icon] {
			@include vendor(transform, translateX(.33em));
		}
	}
	@include media-query (lap-and-up) {
		width: auto;
	}
}
.btn--green {
	background-color: #5cb85c;
	border-color: #4cae4c;
	color: #fff;
	&[disabled] {
		background-color: desaturate(#5cb85c,30%);
		@include hoverActiveFocus { background-color: desaturate(#5cb85c,30%); }
	}
	@include hoverActiveFocus {
		background-color: #449d44;
		border-color: #398439;
	}
}
.btn--red {
	background-color: #d9534f;
	border-color: #d43f3a;
	color: #fff;
	&[disabled] {
		background-color: desaturate(#d9534f,30%);
		@include hoverActiveFocus { background-color: desaturate(#d9534f,30%); }
	}
	@include hoverActiveFocus {
		background-color: #c9302c;
		border-color: #ac2925;
	}
}

.btn--lg {
	padding: .75em 1em;
	@include font-size(18px, false);
}

.btn--full {
	width: 100%;
	margin-bottom: 1em;
}