/*------------------------------------*\
GENERAL
\*------------------------------------*/

::-moz-selection {
	background: $magenta;
	color: #fff;
	text-shadow: none;
}

::selection {
	background: $magenta;
	color: #fff;
	text-shadow:none;
}
body {
	font-family: $nexa-light;
	color: $text-color;
}
.wrapper {
	padding: 1em;
	@include media-query(lap-and-up) { padding: 2em; }
	@include media-query(desk) { padding: 2em 1em; }
}

.grid-wrapper {
	max-width: $grid-max;
	margin: 0 auto;
}

a {
	color: $link-color;
	@include vendor(transition, $animSpeed);
	@include hoverActiveFocus {
		text-decoration: none;
	}
}
.img--shadow {
	@include vendor(box-shadow, 3px 2px 5px 0px rgba(50, 50, 50, 0.75));
}

/*------------------------------------*\
	$TABLES
\*------------------------------------*/
.table--std {
	th {
		font-family: $nexa-bold;
		background: $lime-green;
		color: $blue;
	}
	td {
		@include vendor(box-shadow, 0px 1px 2px -1px rgba(50, 50, 50, 0.75));
	}
}