/* ==========================================================================
General
========================================================================== */

::-moz-selection {
	background: $magenta;
	color: #fff;
	text-shadow: none;
}

::selection {
	background: $magenta;
	color: #fff;
	text-shadow:none;
}
body {
	font-family: $nexa-light;
}
.wrapper {
	padding: 1em;
	@include media-query(lap-and-up) { padding: 2em; }
	@include media-query(desk) { padding: 3em 1em; }
}

.grid-wrapper {
	max-width: 1100px;
	margin: 0 auto;
}

a {
	color: blue;
	@include vendor(transition, $animSpeed);
	@include hoverActiveFocus {
		text-decoration: none;
	}
}