@use 'sass:math';
@use '../../../styles/settings/' as *;
@use '../../../styles/utils/' as *;
.image {
    border-radius: 50%;
    height: auto;
    max-width: 300px;
    padding: 10px;
    shape-outside: circle(50%);
    text-align: center;
    width: 100%;
    @include breakpoint(small, min) {
        float: right;
    }
}

.rich-text {
    p {
        &:first-of-type {
            @include get-text-size(5);
        }
    }
}
