@use '../../styles/settings/' as *;
@use '../../styles/utils/' as *;

.batteryNotification {
    display: inline-flex;
    left: calc(100% - 15px);
    margin-right: 15px;
    margin-top: 15px;
    max-width: 450px;
    position: sticky;
    top: 15px;
    z-index: 100;
}
