//
// Off Screen
//
//
// Hide content visually, but make available for screen readers. Reveal content if it receives :FOCUS.
//
// off-screen();
//
// Styleguide Utilities.Mixins.OnOffScreen

// SASS Core + 3rd Party Libs
// -------------------------------
// @use 'sass:math';
// -------------------------------

// Dependencies
// -------------------------------
@use '../settings/' as *;

@mixin off-screen() {
    border: 0;
    clip: rect(0, 0, 0, 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;

    &:focus {
        clip: auto;
        height: auto;
        margin: 0;
        overflow: visible;
        width: auto;
    }
}
