/*------------------------------------*\
	#Media
\*------------------------------------*/

.media {
	display: block;
	background: #fff;
	box-shadow: 1px 1px 7px rgba(0,0,0,.3);
	border-radius: 0 0 6px 6px;
	text-decoration: none;
	figure {
		position: relative;
		padding-bottom: 50%;
		overflow: hidden;
	}
	img {
		display: block;
		position: absolute;
		top: 0 ;
		left: 0;
		width: 100%;
	}
}
a.media {
	img {
		transition: $anim-speed;
	}
	&:hover, &:focus {
		box-shadow: 1px 1px 7px rgba(0,0,0,.5);
		img {
			transform: scale(1.1);
		}
	}
	&:active {
		box-shadow: 1px 1px 7px rgba(0,0,0,.7);
	}
}

.media__heading {
	color: $greenish;
	font-size: (18/16)+rem;
	text-decoration: uppercase;
	font-weight: normal;

}
.media__body {
	border-top: 1px solid #ddd;
	color: $text-color;
}