/*------------------------------------*\
	#Table
\*------------------------------------*/

.table-wrapper {
	overflow: scroll;
	padding: 0 1px 0 0; // fix scroll removing right border
}

.table {
	width: 100%;
	border-collapse: collapse;
	th,
	td {
		padding: 1% 2%;
	}
	td {
		border: 1px solid $ash;
	}
}
