/*------------------------------------*\
	#Buttons
\*------------------------------------*/
/**
 * Buttons can be applied to any HTML element that is used to trigger a user
 * action (e.g. following a call to action link, submitting a form).
 *
 * 1. Line differently sized buttons up a little nicer.
 */

.btn-bare {
	border: 0;
	background: 0;
	padding: 0;
}

.btn {
	display: inline-block;
	vertical-align: middle;
	text-align: center;
	margin: 0;
	outline: 0;
	line-height: 1;
	cursor: pointer;
	overflow: visible;
	transition: $anim-speed;
	text-decoration: none;
	padding: $global-spacing-unit/2 $global-spacing-unit;
	border-radius: $global-radius;
	color: #fff;
	background: $charcoal;

	a:hover, a:focus &,
	&:hover, &:focus {
		color: #fff;
		background: darken($charcoal, 10%);
	}
	a:active &,
	&:active {
		color: #fff;
		background: darken($charcoal, 20%);
	}
}


/* Size variants */
.btn--lg {
	font-size: (18/16)+rem;
	padding: $global-spacing-unit*.75 $global-spacing-unit*2;
}

.btn--sm {
	font-size: (14/16)+rem;
	padding: quarter($global-spacing-unit) $global-spacing-unit;
}
