@use 'sass:math';
@use '../../styles/settings/' as *;
@use '../../styles/utils/' as *;

.day-night {
    --toggle-height: 53px;
    --toggle-width: calc(var(--toggle-height) * 1.8868);
    --toggle-size: calc(var(--toggle-height) * 0.625);

    --bg-color-dark: var(--main-bg-color);
    --moon-color: #d9fbff;
}

.checkbox {
    display: none;
}

.toggle {
    aspect-ratio: 15 / 8;
    border-radius: var(--toggle-height);
    cursor: pointer;
    height: var(--toggle-height);
    position: relative;
    transition: all 500ms ease-in-out;
}

[data-theme='light'] .toggle {
    background: transparent;
}

.sun-or-moon {
    border-radius: 50%;
    box-shadow:
        calc(var(--toggle-width) * 0.1) calc(var(--toggle-height) * 0.1) 0 0
            var(--moon-color) inset,
        rgba(255, 255, 255, 0.1) 0 calc(var(--toggle-height) * -0.44) 0
            calc(var(--toggle-height) * -0.28),
        rgba(255, 255, 255, 0.1) calc(var(--toggle-width) * 0.1)
            calc(var(--toggle-height) * 0.44) 0
            calc(var(--toggle-height) * -0.28),
        rgba(255, 255, 255, 0.1) calc(var(--toggle-width) * 0.067)
            calc(var(--toggle-height) * 0.81) 0
            calc(var(--toggle-height) * -0.25),
        rgba(255, 255, 255, 0.1) calc(var(--toggle-width) * 0.2)
            calc(var(--toggle-height) * 0.125) 0
            calc(var(--toggle-height) * -0.256),
        rgba(255, 255, 255, 0.1) calc(var(--toggle-width) * 0.267)
            calc(var(--toggle-height) * 0.5) 0
            calc(var(--toggle-height) * -0.28),
        rgba(255, 255, 255, 0.1) calc(var(--toggle-width) * 0.2)
            calc(var(--toggle-height) * 0.81) 0
            calc(var(--toggle-height) * -0.28),
        rgba(255, 255, 255, 0.1) calc(var(--toggle-width) * -0.133)
            calc(var(--toggle-height) * 0.44) 0
            calc(var(--toggle-height) * -0.28),
        rgba(255, 255, 255, 0.1) calc(var(--toggle-width) * -0.033)
            calc(var(--toggle-height) * 0.625) 0
            calc(var(--toggle-height) * -0.28);
    display: block;
    height: var(--toggle-size);
    left: calc(var(--toggle-width) * 0.15);
    // margin-left: 5px;margin-left
    // margin-top: 5px;margin-top
    position: absolute;
    top: calc(var(--toggle-height) * 0.2);
    transform: rotate(-75deg);
    transition: all 400ms ease-in-out;
    width: var(--toggle-size);
}

//  sun
[data-theme='light'] .sun-or-moon {
    background: #fff;
    box-shadow:
        calc(var(--toggle-width) * 0.1) calc(var(--toggle-height) * 0.1) 0
            calc(var(--toggle-height) * 0.3125) #fff inset,
        0 calc(var(--toggle-height) * -0.3125) 0
            calc(var(--toggle-height) * -0.16875) #fff,
        calc(var(--toggle-width) * 0.1167) calc(var(--toggle-height) * -0.21875)
            0 calc(var(--toggle-height) * -0.1875) #fff,
        calc(var(--toggle-width) * 0.1667) 0 0
            calc(var(--toggle-height) * -0.16875) #fff,
        calc(var(--toggle-width) * 0.1167) calc(var(--toggle-height) * 0.21875)
            0 calc(var(--toggle-height) * -0.1875) #fff,
        0 calc(var(--toggle-height) * 0.3125) 0
            calc(var(--toggle-height) * -0.16875) #fff,
        calc(var(--toggle-width) * -0.1167) calc(var(--toggle-height) * 0.21875)
            0 calc(var(--toggle-height) * -0.1875) #fff,
        calc(var(--toggle-width) * -0.1667) 0 0
            calc(var(--toggle-height) * -0.16875) #fff,
        calc(var(--toggle-width) * -0.1167)
            calc(var(--toggle-height) * -0.21875) 0
            calc(var(--toggle-height) * -0.1875) #fff;
    height: calc(var(--toggle-height) * 0.4375);
    left: calc(var(--toggle-width) * 0.5);
    top: calc(var(--toggle-height) * 0.3);
    transform: rotate(0deg);
    width: calc(var(--toggle-height) * 0.4375);
}
