.header {
    background: linear-gradient(
        -90deg,
        rgb(247, 171, 127) 0%,
        rgb(245, 132, 122) 8%,
        rgb(203, 78, 100) 23%,
        rgb(134, 36, 52) 49%,
        rgb(99, 29, 33) 100%
    );
    border-radius: 0px  0px 40px 0px;
    color: var(--text-color);
    display: flex;
    font-weight: 500;
    gap: 20px;
    padding: 20px;
    text-align: center;
    a {
        text-decoration: underline;
        text-decoration-color: var(--chestnut-rose);
        @media (prefers-color-scheme: dark) {
            text-decoration-color: var(--rajah);
        }
    }
}
