/*------------------------------------*\
	#Helpers
\*------------------------------------*/


.u-dib { display: inline-block!important; }
.u-db { display: block!important; }
.u-di { display: inline!important; }

.u-hidden {
	display: none!important;
}

// this hides content visually but not from screenreaders
.u-visuallyhidden {
	@include inuit-hidden-visually();
}

@if (variable-exists(mq-breakpoints)) {
	@each $inuit-bp-name, $inuit-bp-value in $mq-breakpoints {
		@include mq($from: $inuit-bp-name) {
			.u-hidden#{$inuit-widths-breakpoint-separator}#{$inuit-bp-name} {
				display: none!important;
				position: absolute;
			}
			.text--center#{$inuit-widths-breakpoint-separator}#{$inuit-bp-name} {
				text-align: center!important;
			}
		}
	}
}

// .u-table {
// 	display: table;
// 	width: 100%;
// 	height: 100%;
// }

// .u-table__cell {
// 	display: table-cell;
// 	text-align: center;
// 	vertical-align: middle;
// }

// .overlay {
// 	display: none;
// 	background: rgba(0,0,0, .5);
// 	position: fixed;
// 	top: 0;
// 	left: 0;
// 	right: 0;
// 	bottom: 0;
// 	z-index: 500;
// }

// colours maps in settings/_vars.scss
@each $color, $hex in $bg-colors {
	.bg--#{$color} {
		background-color: #{$hex}!important;
	}
}

.nowrap { white-space: nowrap; }