@use '../../../styles/settings/' as *;
@use '../../../styles/utils/' as *;

.rich-text {
    @each $name, $map in $heading-sizes {
        h#{$name} {
            margin-bottom: var(--spacing);
            // @extend %heading;
            @include get-text-size($name);

            &:not(:first-child) {
                margin-top: var(--spacing);
            }
        }
        h1 {
            text-decoration: underline;
            text-decoration-color: var(--heading-underline);
        }
    }
    p {
        &:not(:last-child) {
            margin-bottom: var(--spacing);
        }
    }
    ul {
        list-style-position: inside;
        list-style-type: disc;
        li {
            margin-bottom: 10px;
            &::marker {
                color: var(--accent);
            }
        }
    }

    a {
        text-decoration: underline;
        text-decoration-color: var(--accent);
    }
}
