body {
font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;

/* text-shadow: 0.1px 0.1px 0.1px black; */
background: -webkit-gradient(linear, 8% 5%, 5% 60%, from(#55ddff), to(#fff));
background: -moz-linear-gradient(top, #99CCFF, #fff);
background-attachment: fixed;
background-color: #99CCFF;
}
html>body  {background-color: #99CCFF;}

#container {
		margin:0 auto;
		width:800px;
		position:relative;
		}

		
#header {
position:absolute;
background-repeat:no-repeat;
margin:1px;
left:280px;
background:url(img/logo3.png);
width:242px;
height:122px;
z-index:1;
text-indent: -2000px
}

#nav {position:absolute;
width:150px;
margin:135px 0 0 18px;
text-align:center
}

#main{
position:absolute;
width:520px;
height:500px;
margin: 130px 0px 0px 190px;
background-color: white;
padding: 0px 20px 0px 30px;
border: 1px solid silver;
opacity: 0.9;
filter:alpha(opacity=60); /* For IE8 and earlier */
z-index:-1;
overflow:auto;
border-radius: 20px 25px 25px 25px;
 /* box-shadow: 10px 10px 5px #888888; */ 
 }
 
.button {
cursor:pointer;
display:block;
float:left;
width:150px;
height:30px;
background-color:#E8E8E8 ;
border:1px solid #999;
color:#222;
text-decoration:none;
margin:0;
margin-bottom: 10px;
transition:margin-left 0.5s;
-moz-transition:margin-left 0.5s; /* Firefox 4 */
-webkit-transition:margin-left 0.5s ; /* Safari and Chrome */
-o-transition:margin-left 0.5s; /* Opera */
}
.button p {margin: 4px 0 0 5px;
 width:140px;
 font-weight:bold;
  text-align:center;
 }
 
.button:hover {
background-color:#E8E8E8 ;
border:1px solid #999;
color:#000;
text-decoration:none;
margin-left: 10px;
-moz-box-shadow: 0 0 3px 3px #C8C8C8 ;
-webkit-box-shadow: 0 0 3px 3px #C8C8C8 ;
box-shadow: 0 0 3px 3px #C8C8C8 ;
}

/* Target all Firefox */ 
@-moz-document url-prefix() { .button:hover { margin-left:0px; color:#330033 } }

#footer {
background-image:url(img/ffooter2.gif);
background-repeat:repeat-x;
height:340px;
width:1500px;
position:fixed;
bottom:0;
left:0;
z-index:-2;
}

button {float:right; margin-right:50px;}
.time1, .time2, .time3, .time4, .time5 {float:right; margin-right:50px;}

/* boxxxx*/
h1 {margin-top:50px;}

.on {
background-color:#000;
}

.container{
border:1px solid #999;
float:left;
background-color:#EEE;
}

.container div {
border:1px solid #999;
width:20px;
height:20px;
float:left;
}


.right { border: 1px solid white;
margin-left:5px;
}

.right p {width:20px;
height:20px;
border: solid 1px white;
border-bottom: 1px dashed #666;
margin:0 0 0 1px;
text-align:center;
margin:0;padding:0;
}

.bottom {
width:20px;
float:left;
border:1px solid white;
border: solid 1px white;

}

.bottom p {
width:20px;
text-align:center;
 float: left;
 border:1px solid white;
 margin:0px;
border-left: 1px dashed #666;
margin:0;padding:0;
 }
 
.c1, .c3{width:66px;}
.r1, .r3{margin-left:68px;}

.c2, .c4{width:132px;}
.r2, .r4{margin-left:134px;}

.c5{width:352px;}
.r5{margin-left:352px;}



