@use 'sass:math';
@use '../../../styles/settings/' as *;
@use '../../../styles/utils/' as *;

.footer {
    align-items: center;
    background: var(--footer-bg-color);
    bottom: 0;
    color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    font-size: math.div(14, 16) + rem;
    gap: 20px;
    padding: 20px 40px;
    position: sticky;
    transition: background-color 0.5s;
    @include breakpoint(small, min) {
        display: grid;
        grid-template-columns: repeat(3, minmax(0, 1fr));
    }
}

.link {
    font-weight: 600;
    text-decoration: none;
    transition: color 0.2s;
    @include hover {
        color: var(--rajah);
        text-decoration: underline;
    }
}

.carbon {
    display: block;
    padding-inline: 24px;
    position: relative;

    @include hover {
        color: rgba(163, 245, 92, 0.8);
        text-decoration: none;
        .🌱 {
            font-size: 2.5rem;
            &::before {
                content: '🌿';
            }
        }
    }
}

.🌱 {
    left: calc(100% - 10px);
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    transition: font-size 0.5s;
    &::before {
        content: '🌱';
    }
}

.social {
    display: flex;
    gap: 20px;
    justify-content: center;

    a {
        color: var(--white);
        display: block;
        font-size: 2rem;
        transition: color 0.2s;
        @include hover {
            color: var(--rajah);
        }
    }
}
