@use 'sass:math';
@use '../../../styles/settings/' as *;
@use '../../../styles/utils/' as *;

.header {
    align-items: center;
    background: linear-gradient(
        -90deg,
        rgb(252, 195, 153) 0%,
        rgb(249, 159, 122) 15%,
        rgb(244, 102, 99) 30%,
        rgb(214, 72, 98) 50%,
        rgb(167, 45, 77) 70%,
        rgb(120, 30, 58) 85%,
        rgb(84, 24, 43) 100%
    );

    border-radius: 0px 0px 40px 0px;
    color: var(--text-color);
    display: flex;
    font-weight: 500;
    gap: 20px;
    justify-content: space-between;
    padding: 20px;
    text-align: center;
}

.link {
    color: rgba(255, 255, 255, 0.9);
    font-size: 1.2rem;
    font-weight: 600;
    position: relative;
    text-decoration-color: var(--rajah);
    &:before {
        background: var(--rajah);
        border-radius: 3px;
        bottom: -5px;
        content: '';
        height: 2px;
        left: 50%;
        position: absolute;
        transform: translateX(-50%);
        transition: width 0.25s ease-out;
        width: 0;
    }
    @include hover {
        &:before {
            width: 100%;
        }
    }
}

[data-theme='dark'] {
    .header {
        background: linear-gradient(
            -90deg,
            rgb(66, 66, 102) 0%,
            rgb(75, 73, 113) 10%,
            rgb(90, 78, 122) 30%,
            rgb(138, 91, 110) 40%,
            rgb(214, 72, 98) 50%,
            rgb(167, 45, 77) 60%,
            rgb(143, 35, 63) 70%,
            rgb(120, 30, 58) 80%,
            rgb(102, 26, 50) 90%,
            rgb(84, 24, 43) 100%
        );
    }
}

.container {
    align-items: center;
    display: grid;
    gap: 20px;
    grid-template-columns: 70px 1fr 100px;
    justify-content: space-between;
    margin-inline: auto;
    max-width: 1200px;
    width: 100%;
}

.nav {
    align-items: center;
    display: flex;
    gap: 20px;
    width: 100%;
    &--cta {
        width: auto;
    }
    &--main {
        flex-grow: 1;
        justify-content: center;
    }
}
