@use '../../styles/settings/' as *;

.message {
    border: 2px solid var(--brand);
    border-radius: 10px;
    display: inline-flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
    padding-right: 50px;
    position: relative;

    &--error {
        border-color: var(--error-color);
        color: var(--error-color);
    }

    &--success {
        border-color: var(--success-color);
        color: var(--success-color);
    }

    &__close {
        color: rgb(0 0 0);
        font-size: 2rem;
        position: absolute;
        right: 10px;
        top: 10px;
    }
}
