@use '../../styles/settings/' as *;
@use '../../styles/utils/' as *;

.message {
    border: 2px solid var(--brand);
    border-radius: 10px;
    display: inline-flex;
    flex-direction: column;
    gap: 10px;
    line-height: 1.5;
    padding: 15px;
    padding-right: 50px;
    position: relative;

    &--error {
        border-color: var(--error-color);
        color: var(--error-color);
    }

    &--success {
        border-color: var(--success-color);
        color: var(--success-color);
    }

    &--info {
        background: var(--terminal);
        color: var(--white);
    }

    &__close {
        color: inherit;
        font-size: 2rem;
        position: absolute;
        right: 10px;
        top: 10px;
        transition: color 0.2s;
        @include hover {
            color: var(--rajah);
        }
    }
}
