@use 'sass:math';
@use '../../styles/settings/' as *;
@use '../../styles/utils/' as *;

.email {
    --lord-icon-colorize: rgb(255, 255, 255);
    align-items: center;
    display: flex;
    font-weight: 600;
    gap: 5px;
    text-decoration: none;
    transition: color 0.2s;
    @include hover {
        --lord-icon-colorize: var(--rajah);
        color: var(--rajah);
        text-decoration: underline;
    }
}
