@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --main-bg-color: rgba(255, 255, 255);
    --text-color: rgba(0, 0, 0, 0.8);
    --spacing: 16px;
    --rajah: #f7ab7f;
    --chestnut-rose: #cb4e64;
}

@media (prefers-color-scheme: dark) {
    :root {
        --main-bg-color: rgb(49, 52, 60);
        --text-color: rgba(255, 255, 255, 0.9);
    }
}

@layer utilities {
    .text-balance {
        text-wrap: balance;
    }
}
