.body {
    background-color: var(--main-bg-color);
    color: var(--text-color);
    display: flex;
    flex-direction: column;
    font-kerning: normal;
    font-size: rems(16);
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    line-height: 1.2;
    min-height: 100vh;
    text-size-adjust: 100%;
    transition:
        background-color 0.5s,
        color 0.1s;
}
.main {
    background-image: var(--bg-image);
    background-position: center calc(100% + 1px);
    background-repeat: no-repeat;
    background-size: contain;
    flex-grow: 1;
    padding-bottom: 60px;
    transition:
        background-color 0.5s,
        color 0.1s;
}
