//
// Min Max Font
//
//
// Outputs different font sizes depending on size
//
// min-max-font($min, $max)
//
// Styleguide Utilities.Mixins.MinMaxFont

// SASS Core + 3rd Party Libs
// -------------------------------
@use 'sass:math';
@use 'sass:map';
// -------------------------------

// Dependencies
// -------------------------------
@use 'breakpoint' as *;
@use '../settings/' as *;

@mixin min-max-font($font-name, $min-font-size, $max-font-size) {
    $max-width: 1400;
    $min-width: 320;

    // See https://chrisburnell.com/clamp-calculator
    $x: math.div(($max-font-size - $min-font-size), ($max-width - $min-width));
    $y: $max-font-size - $max-width * $x;
    $z: $x * 100;

    $clamp-min: math.div($min-font-size, 16) + rem;
    $clamp-ideal-rem: math.div($y, 16) + rem;
    $clamp-ideal-vw: #{$z}vw;
    $clamp-max: math.div($max-font-size, 16) + rem;

    // Line-height overrides if map keys exist.
    $line-height-small: if(
        map.has-key($line-height-sizes-small, $font-name),
        map.get($line-height-sizes-small, $font-name),
        null
    );

    $line-height-large: if(
        map.has-key($line-height-sizes, $font-name),
        map.get($line-height-sizes, $font-name),
        null
    );

    font-size: clamp(
        $clamp-min,
        $clamp-ideal-rem + $clamp-ideal-vw,
        $clamp-max
    );

    @if $line-height-small {
        line-height: math.div($line-height-small, $min-font-size);
    }

    @include breakpoint(medium, min) {
        @if $line-height-large {
            line-height: math.div($line-height-large, $max-font-size);
        }
    }
}
