/*------------------------------------*\
	$COOKIE
\*------------------------------------*/

.wrapper--cookie {
	padding: .5em;
	background-color: #333;
	color: #fff;
	p {
		@include font-size(14px, false);
		a { color: #fff; }
	}
	.js & { display: none; }
	@include media-query(portable) {
		.btn {
			text-align: center;
			text-transform: uppercase;
		}
	}
	@include media-query(lap-and-up) {
		p { margin: 0; }
	}
}