/*------------------------------------*\
GENERAL
\*------------------------------------*/

::-moz-selection {
	background: $magenta;
	color: #fff;
	text-shadow: none;
}

::selection {
	background: $magenta;
	color: #fff;
	text-shadow:none;
}
html, body {
	height: 100%;
	min-height: 100%;
	transform: translate3d(0, 0, 0);
}

.wrapper {
	padding: 1em;
	@include media-query(lap-and-up) { padding: 2em; }
	@include media-query(desk) { padding: 2em 1em; }
}

.grid-wrapper {
	max-width: $grid-max;
	margin: 0 auto;
}

/*------------------------------------*\
	$TABLES
\*------------------------------------*/
.table--std {
	th {
		font-family: $nexa-bold;
		background: $lime-green;
		color: $blue;
	}
	td {
		@include vendor(box-shadow, 0px 1px 2px -1px rgba(50, 50, 50, 0.75));
	}
}
/*------------------------------------*\
	$stuff
\*------------------------------------*/
.island {
	border: 2px dashed #ccc;
	box-shadow: 0px 0px 10px #eee;
}

input,select {
	max-width: 100%;
	margin-bottom: 10px;
}