/*------------------------------------*\
	$volker
\*------------------------------------*/
.wrapper--green {
	background: $sea-green;
}

@keyframes happy {
	0% { transform: translateY(-500px); }
	100% { transform: translateY(0); }
}
@keyframes birthday {
	0% { transform: translateY(-500px); }
	100% { transform: translateY(0); }
}
@keyframes imgv {
	0% { clip-path: circle(600px at center); }
	100% { clip-path: circle(100px at center); }
}
@keyframes rotate {
	0% { transform: rotateY(0deg) }
	100% { transform: rotateY(360deg) }
}
@keyframes volker {
	0% { transform: translateX(-1000px); }
	100% { transform: translateY(0); }
}
.happy {
	transform: translateY(-500px);
	animation: happy 1s ease-in;
	animation-fill-mode: forwards;
	animation-delay: .2s ;
}
.birthday {
	transform: translateY(-500px);
	animation: birthday 1s ease-in;
	animation-fill-mode: forwards;
	animation-delay: .4s ;
}
.img-v {
	// transform: translateY(-500px);
	@include media-query(palm) {
		clip-path: circle(200px at center);
		animation: imgv 2s  ease-in forwards;
	}
	clip-path: circle(500px at center);
	animation: rotate 5s  linear infinite 2s;
}
.volker {
	color: #202020;
	letter-spacing: .1em;
	text-shadow: -1px -1px 1px #90A790, 2px 2px 1px #A9CC76;
	transform: translateX(-1000px);
	animation: volker 2s ease-in;
	animation-fill-mode: forwards;
	animation-delay: .8s ;
}

$boxes: 30;

#wrap {
	width: 300px;
	height: 500px;
	top: 0;
	left: 0;
	position: absolute;
}

div.box {
	width: 5px;
	height: 5px;
	border-radius: 50%;
	position: absolute;
}

@for $i from 1 through $boxes {
@keyframes anim-#{$i} {
	0% {
		transform: translate( 50%, 50% );
	}
	80% {
		opacity: 0;
		filter: blur(1px);
		transform: translate( random(300)+px, random(300)+px );
	}
	100% {
		transform: translate( 50%, 50% );
		opacity: 0;
	}
}

	div.box {
		&:nth-child(#{$i}) {
			transform: translateX( $i * 10px);
			animation-duration: 2.6s;
			animation-name: anim-#{$i};
			animation-iteration-count: infinite;
			animation-direction: forwards;
			animation-timing-function: ease-in-out;
			background: hsla(10 * $i, 100%, 50%, 1);
		}
	}
}