/*------------------------------------*\
	#Typography
\*------------------------------------*/


@font-face {
	font-family: 'nexa-light';
	src:url('/dist/fonts/nexa/nexa-light.eot');
	src:url('/dist/fonts/nexa/nexa-light.eot?#iefix') format('embedded-opentype'),
		url('/dist/fonts/nexa/nexa-light.woff') format('woff'),
		url('/dist/fonts/nexa/nexa-light.ttf') format('truetype'),
		url('/dist/fonts/nexa/nexa-light.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'nexa-bold';
	src:url('/dist/fonts/nexa/nexa-bold.eot');
	src:url('/dist/fonts/nexa/nexa-bold.eot?#iefix') format('embedded-opentype'),
		url('/dist/fonts/nexa/nexa-bold.woff') format('woff'),
		url('/dist/fonts/nexa/nexa-bold.ttf') format('truetype'),
		url('/dist/fonts/nexa/nexa-bold.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

body {
	$font-size: 16px;
	$line-height: 24px;
	$font-family: $main-font;
	color: $text-color;
	font: #{$font-size}/#{$line-height} $font-family;
}

a {
	color: $link-color;
	transition: $anim-speed;
	text-decoration: none;
	&:hover, &:active, &:focus {
		text-decoration: none;
		color: darken($link-color, 10%);
	}
}

p a {
	transition: none;
	text-decoration: $link-color underline wavy;
	&:hover, &:active, &:focus {
		text-decoration: #000 underline wavy;
	}
}

strong {
	font-weight: $bold;
}

h1,h2,h3,h4,h5,h6,
.u-h1,
.u-h2,
.u-h3 {
	font-weight: $normal;
	line-height: 1.5;
	font-family: $nexa-bold;
}

// font size mixin can be found in tools/mixins.scss
// font sizes are declared in settings/font-vars.scss
h1,.u-h1 {
	font-size: (30/16)+rem;
}

h2,.u-h2 {
	font-size: (28/16)+rem;
}

h3,.u-h3 {
	font-size: (26/16)+rem;
}

h4, .u-h4 {
	font-size: (24/16)+rem;
}

h5, .u-h5 {
	font-size: (22/16)+rem;
	line-height: 1.6;
}

h6, .u-h6 {
	font-size: (20/16)+rem;
}

p {
	&:last-child {
		margin-bottom: 0;
	}
}

// colours map in settings.vars
//	creates .bg--purple ... bg--lime vars can be found in settings.vars
@each $color, $hex in $text-colors {
	.text--#{$color} {
		color: #{$hex}!important;
	}
}
